*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 16px auto;
  gap: 345px;
  background-color: #ffffff;
}
header img{
  cursor: pointer;
}
header .navbar{
  display: flex;
  gap: 32px;
  
}
header .navbar a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}
button{
  padding: 12px 16px;
  background-color:#30B868;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}