*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 16px auto;
  gap: 345px;
  background-color: #ffffff;
}
header img{
  cursor: pointer;
}
header .navbar{
  display: flex;
  gap: 32px;
  
}
header .navbar a{
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 16px;
}
/* Common  */
button{
  padding: 12px 16px;
  background-color:#30B868;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
section.banner{
  height: 675px;
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat; 
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner h5{
  color: #30B868;
  background-color: #ffffff;
  padding: 8px 12px;
  border-radius: 1000px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}
.banner h1.white{
  font-weight: bold;
  font-size: 72px;
  color: #ffffff;
}
.banner h1.green{
  font-weight: bold;
  font-size: 72px;
  color: #30B868;
}
.banner div{
  margin-bottom: 16px;
}
.banner p{
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 32px;
}
.banner button{
  font-size: 16px;
  border-radius: 4px;
  padding: 16px;
  
}
.banner button img{
  margin-left: 8px;
  width: 20px;
  height: 12px;
}
.banner button.white{
  margin-left: 16px;
  background:none;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.notes{
  width: 80%;
  margin: 0 auto;
}
.notes .text h2{
  text-align: center;
  margin-bottom: 16px;
  margin-top: 50px;
  font-size: 48px;
  font-weight: bold;
}
.notes .text p{
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 44px;
}

.notes .card-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  
}
.notes .card-container .card{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 300px;
  padding: 24px;
 
}
.notes .card-container .card-image{
  background-color: #F95555;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 16px;

}
.notes .card-container .card-image img{
  /* padding: 5px auto ; */
  width: 32px;
  height: 32px;
  margin-top: 12px;
  
}

.notes .card-container .card-content h3{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}
.notes .card-container .card-content p{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
  color: #627382;
}
.brain{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #30B868; */
  width: 80%;
  margin: 120px auto;
}
.brain .text{
  padding-left: 60px;
}
.brain .text h6{
  font-size: 16px;
  font-weight: 500;
  color: #30B868;
  margin-bottom: 16px;
}
.brain .text h3{
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}
.brain .text p.normal{
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  margin-bottom: 40px;
  line-height: 20px;
}
.brain .text p.li{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
  line-height: 16px;
}
.brain .text p.li img{
  margin-right: 8px;
 height: 15px;
  width: 15px;
}